.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #fcfdff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.form3{
 border: 2px solid rgb(5, 5, 5);
 margin-left:37vw;
 margin-top: 3vh;
}
.form-control::placeholder { 
  color:rgb(0, 0, 0);
  opacity: 50%; 
}
.error{
  color:red;
  font-size: small;
}
